@keyframes spinner {
  0% {
    transform: translate(-50%, -50%) rotate(0deg) ;
    /* border-top: 7.5px solid #383636;
    border-bottom: 7.5px solid #746e6e; */
  }

  /* 50%{
    border-top: 7.5px solid #746e6e;
    border-bottom: 7.5px solid #383636;
  } */

  100% {
    transform: translate(-50%, -50%) rotate(360deg);
    /* border-top: 7.5px solid #383636;
    border-bottom: 7.5px solid #746e6e; */
  }
}



/* for gif file */
.loading-spinner-gif{
  position: fixed;
  top: 90%;
  left: 50%;
  z-index: 9;
}